<div class="menu flex">
  <div class="image-container flex flex-center">
    <img src="assets/img/spotify-logo.svg" alt="">
  </div>
  
  <div class="menu-container flex lista">
    <app-btn-menu
      [descricao]="'Home'"
      [selecionado]="btnSelecionado === 'Home'"
      (click)="btnClick('Home')"
    >
      <fa-icon [icon]="homeIcone" ></fa-icon>
    </app-btn-menu>

    <app-btn-menu
      [descricao]="'Pesquisar'" 
      [selecionado]="btnSelecionado === 'Pesquisar'"
      (click)="btnClick('Pesquisar')"
    >
      <fa-icon [icon]="pesquisarIcone" ></fa-icon>
    </app-btn-menu>

    <app-btn-menu 
      [descricao]="'Artistas'"
      [selecionado]="btnSelecionado === 'Artistas'"
      (click)="btnClick('Artistas')"
    >
      <fa-icon [icon]="artistaIcone" ></fa-icon>
    </app-btn-menu>

    <div class="menu-container flex">
      <span class="playlist-title">
        Playlists
      </span>
      <!-- PLAYLIST-->
      <div class="playlist-scroll">
        <app-btn-menu 
        *ngFor="let playlist of playlists"
      [descricao]="playlist.nome"
      [selecionado]="btnSelecionado === playlist.id"
      (click)="btnClick(playlist.id)"
    >
      <fa-icon [icon]="playlistIcone" ></fa-icon>
    </app-btn-menu>
      </div>
    </div>

  </div>